
    body {
        background-color: #5B0017;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

   
    .text-cc9d2f {
  color: #CC9D2F;

}
    
.footer {
    background-color: #CC9D2F;
    width: 100%;
    margin-top: 100px;
}

.footer .nav-link {
    color: #5B0017;
}

.footer h3 span {
    font-family: Arial, sans-serif;
}

.footer .long-hr {
    border-color: white;
}

.footer .text-gray {
    color: gray;
}










    .btn-transparent {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        display: inline-block;
        margin: auto;
      }
      
      .btn-transparent:hover {
        background-color: white;
        color: #5B0017;
      }


      
      .bg-color-block {
        background-color: #5B0017;
    }
    
    .bg-color-block {
        background-color: #5B0017;
    }
    
    .custom-bg-color {
        background-color: #243054;
    }
    
    .text-cc9d2f {
        color: #CC9D2F;
    }
    
    .text-white {
        color: #243054;
    }
    
    .border-0 {
        border: none;
    }
    
    .py-5 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .m-10 {
        margin: 10px;
    }
    
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .d-flex {
        display: flex;
    }
    
    .align-items-center {
        align-items: center;
    }
    
    .justify-content-center {
        justify-content: center;
    }
    
    .image-style {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .image-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .custom-bg {
  background-color: #5B0017;
}

.navbar {
  background-color: #5B0017;
}

.navbar img {
  margin-right: 10px;
}

.navbar .nav-link {
  color: white;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container p {
  color: #CC9D2F;
  display: inline-block;
  float: left;
}

.container h1 {
  color: #ffffff;
  display: inline-block;
}

.container p:last-child {
  float: right;
}

.menu-links {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
}

.menu-links li {
  display: inline;
  margin: 0 10px;
}

.menu-links a {
  color: gray;
}

.card {
  background-color: #243054;
  color: white;
}

.card-text {
  margin-top: 10px;
}
.menu-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  display: inline-block;
  margin-right: 10px;
}

.menu-list li:last-child {
  margin-right: 0;
}
